DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3315
MYSQL_DATABASE=supermarkt
MYSQL_USER=supermarkt
MYSQL_PASSWORD=supermarkt

AH_USER_AGENT=
AH_COOKIE=
AH_REQUEST_DELAY=0.3
AH_TIMEOUT=20
AH_BROWSER_HEADLESS=1
AH_BROWSER_EXECUTABLE_PATH=/usr/bin/google-chrome
AH_BROWSER_USER_DATA_DIR=
AH_BROWSER_PROFILE_DIR=Default

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin1234!

OPENSEARCH_ENABLED=0
OPENSEARCH_URL=http://127.0.0.1:9201
OPENSEARCH_INDEX_NAME=supermarkt_products
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=
OPENSEARCH_TIMEOUT=10
OPENSEARCH_VERIFY_SSL=0
OPENSEARCH_AUTO_INDEX_ON_SAVE=0

FORKCAST_AUTO_OPENSEARCH_REINDEX=0
FORKCAST_AUTO_OPENSEARCH_BATCH_SIZE=1000
